.catalog {
  height: 60vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  padding-top: 25px;
  padding-bottom: 25px;
}
.catalog.active {
  opacity: 1;
  pointer-events: all;
}
.catalogContent {
  padding: 25px;
  background: white;
  border-radius: 10px;
  width: 80vh;
  display: flex;
  justify-content: space-between;
}
