.searchDropdown {
  background-color: #fff;
  margin-top: 15px;
  width: 400px;
  position: fixed;
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  z-index: 4;
}
.searchContent {
  width: 100%;
  border: 1px solid black;
}
